@model Escc.SupportWithConfidence.Website.Models.SupportWithConfidenceViewModel
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using System.Configuration
@using System.Text
@using Escc.SupportWithConfidence.Controls
@{ 
    Model.Metadata.Title = "Support with Confidence";
    Model.Metadata.IpsvPreferredTerms = "Trading standards; Consumer protection; Carer support; Health and social care professionals; Care for the disabled; Home care; Care for the elderly; Day care; Care plans";
    Model.Metadata.LgilType = "Applications for service";
    Model.Metadata.LgtlType = "Forms";
    Model.Metadata.DateIssued = "2004-11-20";
    Model.Metadata.Keywords = "vetted; approved; home care; care services; Support with confidence";
    Model.Metadata.Description = "Find providers which are approved members of the Support with Confidence scheme in East Sussex";
    Model.Metadata.RssFeedTitle = "Help at home you can trust";
    Model.Metadata.RssFeedUrl = new Uri(Request.Url, Url.Content("~/ProvidersRSS")).ToString();

    Model.ShowEastSussex1SpaceWidget = true;

    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("SupportWithConfidence"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresJs(JsFileAlias.Resolve("Tips"));
    Html.RequiresJs(JsFileAlias.Resolve("DescribedByTips"));
    Html.RequiresJs(JsFileAlias.Resolve("AccordionAndTabs"));
    Html.RequiresCss(CssFileAlias.Resolve("NavigationSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("NavigationLarge"), MediaQueryAlias.Resolve("Large"));
}

<div class="article">
    <section>
        <div class="content text-content swc-search">
            <h1>Help at home you can trust <img src="@Url.Content("~/images/swc_logo_header.jpg")" alt="'Support with confidence' approved care providers in East Sussex" /></h1>
            <p>Support with Confidence is a directory of vetted and approved care and service providers who can help you at home.</p>
            <div class="accordion" role="application">
                @{
                    // Get categories from the database table Category
                    var categories = new WebApiProviderDataSource().GetAllCategoriesWithProvider(true);

                    // Get category collection that is structured as a family tree
                    var categorymapper = new CategoryMapper(categories);

                    // Create each list item <li> Category information </li>
                    var counter = 1;
                    var html = new StringBuilder();
                    foreach (var category in categorymapper.Categories)
                    {
                        html.Append($"<h2 id=\"accordion{counter}\" aria-controls=\"accordion{counter}content\" role=\"tab\">{category.Description}</h2>");

                        // If the category (list item) has children, create a new nested unordered list and call itself to populate the list
                        // items with the child categories (list items).
                        if (category.Categories.Count > 0)
                        {
                            html.Append($"<div id=\"accordion{counter}content\" aria-labelledby=\"accordion{counter}\" role=\"tabpanel\"><ul>");
                            foreach (var child in category.Categories)
                            {
                                html.Append("<li>");
                                html.Append("<a href=\"").Append(VirtualPathUtility.ToAbsolute("~/results.aspx")).Append("?cat=").Append(child.Id).Append("\">");
                                html.Append(child.Description);
                                html.Append("</a>");
                                html.Append("</li>");
                            }
                            html.Append("</ul></div>");
                        }
                        counter++;
                    }

                    @Html.Raw(html.ToString());
                }
            </div>

            <div class="form simple-form">
                <h2>Or find all providers near you</h2>
                @Html.ValidationSummary()
                <form action="@Url.Content("~/")?reload" method="POST">
                    <label for="postcode" class="formLabel">Postcode or town</label>
                    <input name="postcode" type="text" id="postcode" class="formControl describedby-tip" aria-describedby="data-protection" data-tip-positions="bottom top" />
                    <input type="submit" value="Search" class="button" />
                    <p id="data-protection">We won't keep or share your postcode or town</p>
                </form>
            </div>

            <div class="form simple-form">
                <h2>Or find providers by name</h2>
                <form method="GET" action="@Url.Content("~/results.aspx")">
                    <label for="s" class="formLabel">Provider name</label>
                    <input name="s" type="text" id="txbProvider" class="formControl" />
                    <input type="submit" value="Search" class="button" />
                </form>
            </div>
            <p><a href="@Url.Content("~/ProvidersRSS")" type="application/rss+xml" rel="alternate" class="rss">Subscribe by RSS to all providers</a></p>
            <p class="disclaimer"><small>Where East Sussex County Council provides details of companies, firms or individuals in business directories or other pages on this site the description of the goods or services they provide is based upon information supplied by them. East Sussex County Council cannot confirm that they are legally entitled or professionally qualified to carry on a particular trade, business or profession and accepts no liability for any mistakes or inaccuracies in their details. You should check any information obtained from the website before you act upon it.</small></p>
        </div>

    </section>
</div>

@Html.Partial("~/Views/Related.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_EastSussex1Space.cshtml")

