@model Escc.SupportWithConfidence.Website.Models.SupportWithConfidenceViewModel
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.SupportWithConfidence.Controls
@using Escc.NavigationControls.WebForms
@using System.Configuration
@{
    Model.Metadata.Title = "Support with Confidence";
    Model.Metadata.IpsvPreferredTerms = "Trading standards; Consumer protection; Carer support; Health and social care professionals; Care for the disabled; Home care; Care for the elderly; Day care; Care plans";
    Model.Metadata.LgilType = "Applications for service";
    Model.Metadata.LgtlType = "Forms";
    Model.Metadata.DateIssued = "2004-11-20";
    Model.Metadata.Keywords = "vetted; approved; home care; care services; Support with confidence";
    Model.Metadata.Description = "Find providers which are approved members of the Support with Confidence scheme in East Sussex";

    Model.ShowEastSussex1SpaceWidget = true;

    Html.RequiresCss(CssFileAlias.Resolve("SupportWithConfidence"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    Html.RequiresJs(JsFileAlias.Resolve("Tips"));
    Html.RequiresJs(JsFileAlias.Resolve("DescribedByTips"));
}

<div class="article">
    <section>
        @{ 
            var controller = new SearchController(new WebApiProviderDataSource());

            IList<IResult> results = controller.GetResults();

            // if t then centre of town
            // if pc then postcode
            // if cat or st then alpha

            string sortOrder;
            string searchHeadingTerm;

            if (controller.QueryStringParameters.CategoryId > 0)
            {
                searchHeadingTerm = controller.CategoryHeading;
            }
            else if (controller.QueryStringParameters.ProviderSearchValue.Length > 0)
            {
                searchHeadingTerm = controller.QueryStringParameters.ProviderSearchValue;
            }
            else if (controller.QueryStringParameters.PostcodeSearchValue.Length > 0)
            {
                searchHeadingTerm = controller.QueryStringParameters.PostcodeSearchValue;
            }
            else
            {
                // No terms just click either button
                searchHeadingTerm = "everything";

            }



            if (controller.QueryStringParameters.PostcodeSearchValueIsTownName)
            {
                sortOrder = "by distance from 'centre of " + controller.QueryStringParameters.PostcodeSearchValue + "'";

            }
            else if (controller.QueryStringParameters.PostcodeSearchValue.Length > 0 & controller.QueryStringParameters.PostcodeSearchValueIsTownName == false)
            {
                sortOrder = "by distance from '" + controller.QueryStringParameters.PostcodeSearchValue + "'";
            }
            else
            {
                sortOrder = "alphabetically";
            }

            <div class="content text-content">

            @if (results.Count > 0)
            {
                <h1>Search results for '@searchHeadingTerm'</h1>
            }
            else
            {
                <h1>No results found</h1>
                <p class="warning">Unfortunately no results could be found that matched your search criteria. Please try searching again with different criteria.</p>
            }

            @Html.ValidationSummary()

            @if (results.Count > 0)
            {
                <div class="form simple-form screen">
                <h2>Results are sorted @sortOrder</h2>
                
                <p class="intro">To sort by those nearest to you, please enter your postcode or town.</p>
                    <form action="@Url.Content("~/results.aspx")" method="POST">
                        <label for="postcode" class="formLabel">Sort by distance</label>
                        <input name="postcode" type="text" id="postcode" class="formControl describedby-tip" aria-describedby="data-protection" data-tip-positions="bottom top" />
                        <input type="hidden" name="category" value="@controller.QueryStringParameters.CategoryId" />
                        <input type="submit" value="Sort results" class="button" />
                        <p id="data-protection">We won't keep or share your postcode or town</p>
                    </form>
                </div>
            }

            <p class="screen"><a href="https://apps.eastsussex.gov.uk/forms/eforms.aspx?f=349&amp;p=1" class="feedback">Couldn’t find what you were looking for?</a></p>
            <p class="screen"><a href="@VirtualPathUtility.ToAbsolute("~/")" class="newsearch">New search</a></p>

            @if (results.Count > 0)
            {
                var paging = new PagingController();
                paging.TotalResults = controller.TotalResults;
                paging.ResultsTextSingular = "provider";
                paging.ResultsTextPlural = "providers";

                Html.RenderPartial("~/Views/PagingBarControl.ascx", paging);

                foreach (var result in results)
                {
                    @Html.Raw(result.View())
                        }

                        Html.RenderPartial("~/Views/PagingBarControl.ascx", paging);

                        if (paging.TotalPages > 1)
                        {
                            var url = Request.Url;
                            var query = HttpUtility.ParseQueryString(url.Query);
                            query.Remove("pagesize");
                            query.Add("pagesize", "10000");
                            url = new Uri(url.Scheme + "://" + url.Authority + url.AbsolutePath + "?" + query);
                    <p class="screen"><a href="@url">View all results</a></p>
                }
                <p class="screen"><a href="@VirtualPathUtility.ToAbsolute("~/")" class="newsearch">New search</a></p>
            }
            </div>
        }
    </section>
</div>

@Html.Partial("~/Views/Related.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_EastSussex1Space.cshtml")