@model Escc.SupportWithConfidence.Website.Models.SupportWithConfidenceViewModel
@using Escc.SupportWithConfidence.Controls
@using Escc.DatabaseFileControls.WebForms;
@using System.Configuration;
@using System.Text
@{ 
    Model.Metadata.Title = "Support with Confidence";
    Model.Metadata.IpsvPreferredTerms = "Trading standards; Consumer protection; Carer support; Health and social care professionals; Care for the disabled; Home care; Care for the elderly; Day care; Care plans";
    Model.Metadata.LgilType = "Applications for service";
    Model.Metadata.LgtlType = "Forms";
    Model.Metadata.DateIssued = "2004-11-20";
    Model.Metadata.Keywords = "vetted; approved; home care; care services; Support with confidence";
    Model.Metadata.Description = "Find providers which are approved members of the Support with Confidence scheme in East Sussex";

    Model.ShowEastSussex1SpaceWidget = true;
}

<div class="article">
    <article>
        <div class="content text-content">
            @{
                <h1>@Model.Provider.ProviderName</h1>

                Uri imageUrl = MultiFileAttachmentBaseControl.GetImageUrl(Model.Provider.PhotographId, ConfigurationManager.AppSettings["ProjectName"]);
                if (imageUrl != null)
                {
                    <img src="@imageUrl.AbsoluteUri" alt="@Model.Provider.ProviderName" class="photo" />
                }

                <h2>Contact details</h2>


                <div class="vcard">
                    @if (Model.Provider.PublishAddress)
                    {

                        <p>
                            @if (Model.Provider.ContactName.Length > 0)
                            {
                                <span class="n">@Model.Provider.ContactName</span><br />
                            }
                            else
                            {
                                <span class="org">@Model.Provider.ProviderName</span><br />
                            }
                            <span class="location adr">
                                @if (Model.Provider.Address.Paon.Length > 4)
                                {
                                    <span class="street-address">@Model.Provider.Address.Paon @Model.Provider.Address.Saon<br />@Model.Provider.Address.StreetName</span><br />
                                }
                                else
                                {
                                    <span class="street-address">@Model.Provider.Address.Paon @Model.Provider.Address.Saon @Model.Provider.Address.StreetName</span><br />
                                }

                                <span class="locality">@Model.Provider.Address.Town</span><br />
                                @if (Model.Provider.Address.Locality.Length > 0)
                                {
                                    <span class="region">@Model.Provider.Address.Locality</span><br />
                                }
                                <span class="postal-code">@Model.Provider.Address.Postcode</span>
                            </span>
                        </p>
                    }
                    else
                    {

                        <p>
                            @if (Model.Provider.ContactName.Length > 0)
                            {
                                <span class="n">@Model.Provider.ContactName</span><br />
                            }
                            else
                            {
                                <span class="org">@Model.Provider.ProviderName</span><br />
                            }
                        </p>
                    }
                    <p>
                        @if (Model.Provider.Telephone.Trim().Length > 0)
                        {
                            <span class="tel"><span class="aural"><span class="type"></span> </span>Phone: <span class="value">@Model.Provider.Telephone</span></span>
                        }
                        @if (Model.Provider.Mobile.Trim().Length > 0)
                        {
                            <br />
                            <span class="tel"><span class="aural"><span class="type"></span> </span>Mobile: <span class="value">@Model.Provider.Mobile</span></span>
                        }

                        @if (Model.Provider.Email.Trim().Length > 0)
                        {
                            <br />
                            @:Email: <a class="email" href="mailto:@Model.Provider.Email">@Model.Provider.Email</a><br />
                        }

                        @if (Model.Provider.Website.Trim().Length > 0)
                        {
                            @:Website: <a class="url" href="@Model.Provider.Website">@Model.Provider.Website</a>
                        }
                    </p>
                </div>

                if (Model.Provider.Services.Trim().Length > 0)
                {
                    <h2>List of services</h2>
                    <p>@Html.Raw(Model.Provider.Services)</p>
                }


                if (Model.Provider.Coverage.Trim().Length > 0 & Model.Provider.Coverage2.Trim().Length > 0)
                {
                    <h2>Coverage</h2>
                    <p>@Model.Provider.Coverage @Model.Provider.Coverage2</p>
                }
                else
                {
                    if (Model.Provider.Coverage.Trim().Length > 0)
                    {
                        <h2>Coverage</h2>
                        <p>@Model.Provider.Coverage</p>
                    }
                }

                if (Model.Provider.Availability.Trim().Length > 0)
                {
                    <h2>Availability</h2>
                    <p>@Model.Provider.Availability</p>
                }

                if (Model.Provider.Costs.Length > 0)
                {
                    <h2>Charging and related information</h2>
                    <p>@Html.Raw(Model.Provider.Costs)</p>
                }


                if (Model.Provider.Expertise.Trim().Length > 0)
                {
                    <h2>Expertise</h2>
                    <p>@Html.Raw(Model.Provider.Expertise)</p>
                }

                if (Model.Provider.Experience.Trim().Length > 0)
                {
                    <h2>Experience</h2>
                    <p>@Html.Raw(Model.Provider.Experience)</p>
                }

                if (Model.Provider.Background.Trim().Length > 0)
                {
                    <h2>Background</h2>
                    <p>@Html.Raw(Model.Provider.Background)</p>
                }


                <h2>Accreditation</h2>
                if (Model.Provider.Accreditation.Trim().Length > 0)
                {
                    <p>@Html.Raw(Model.Provider.Accreditation)</p>
                }
                else
                {
                    <ul>
                        <li>Support With Confidence accredited member</li>
                        @foreach (var accreditation in Model.Provider.Accreditations)
                        {
                            if (!String.IsNullOrWhiteSpace(accreditation.Website))
                            {
                                <li><a href="@accreditation.Website">@accreditation.Name</a></li>
                            }
                            else
                            {
                                <li>@accreditation.Name</li>
                            }
                        }
                    </ul>
                }
                if (Model.Provider.BwcMember)
                {
                    <img src="@Url.Content("~/images/bwc_logo.jpg")" alt="Buy with Confidence Member" class="bwclogo" />
                }

                <h2>Category listings</h2>
                <ul>@Html.Raw(Model.Provider.CategoryList)</ul>

                if (Model.Provider.Crb.Length > 0)
                {
                    <h2>Criminal records information</h2>
                    <p>@Html.Raw(Model.Provider.Crb)</p>
                }
                else
                {
                    if (Model.Provider.CrbCheckDate.Trim().Length > 0)
                    {
                        <h2>Date of last Criminal Records check</h2>
                        <p>@Model.Provider.CrbCheckDate</p>
                    }
                    else if (Model.Provider.CqcCheckDate.Trim().Length > 0)
                    {
                        <h2>Date of Care Quality Commission (CQC) Registration</h2>
                        <p>@Model.Provider.CqcCheckDate</p>
                    }
                }
            }
            <p><a href="@Url.Content("~/")" class="newsearch">New search</a></p>
        </div>
    </article>
</div>

@Html.Partial("~/Views/Related.cshtml")
@Html.Partial("~/Views/EastSussexGovUK/Features/_EastSussex1Space.cshtml")